body{
    margin:0px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 150px;
}
.top-section{
    margin-top: 38px;
    display:flex;
    padding-left:20px;
    }

.top-textbox{
    padding-top: 80px;
}
.part-1{
    width: 50%;
    margin-left:10px;

}
.images{
    margin-right:5px;
}
.images-2{
    border-radius: 30px;
}
.part-1 img{
    width:90%
    
}
.heading{
    border-left: 2px rgba(255, 0, 0, 0.767) solid;
    padding-left:5px;
    margin-top: 0px;

}
.head-color{
    color: orange;
    padding-top: 6px;
}
.link{
    text-decoration: none;
    background-color: rgba(240, 22, 22, 0.521);
    color:white;
    padding:4px;
    border-radius: 4px;
}
.mid-heading{
    font-weight: 400;
}
.mid-heading{
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.mid-section{
    margin: 80px;
    
}
.mid-1{
    margin-bottom: 10px;
}
.mid-box{
    display: flex;
    margin-left: 10px;
}
.mid-box-child{
    width:33%;
    background-color:#EDF5F6;
    text-align: left;
    padding-left: 8px;
    border-radius: 10px;
    margin-right:5px;
    margin-left:5px;
}
.mid-box-child img{
    width:20%;
    padding-top:10px;
}
.mid-box-child1{
    width:33%;
    background-color:#FFEEEE;
    text-align: left;
    padding-left: 8px;
    border-radius: 10px;
    margin-right:5px;
    margin-left:5px;
}
.mid-box-child1 img{
    width:20%;
    padding-top:10px;
}
.mid-box-child2{
    width:33%;
    background-color:#FFF4D6;
    text-align: left;
    padding-left: 8px;
    border-radius: 10px;
    margin-right:5px;
    margin-left:5px;
}
.mid-box-child2 img{
    width:20%;
    padding-top:10px;
}
.bg-image{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
  }
.bg-image1{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.bg-footer{
    background-color: black;
    height:150px;
    
}
footer{
    margin-left:450px;
}
footer h1{
    color:white;
    text-align: center;
    font-family:monospace;
    padding-top:8px;
    
}
footer h1 span{
    color: rgb(255, 0, 0);
    padding-top:8px;
}
 footer span{
    color:gray;
    text-align: center;
}
.main_container{
    border:1px gray solid;
    box-shadow: 2px 0px 5px gray,-2px -0px 5px gray;
    margin:0px;

}